{% extends 'layout.html.twig' %}

{% block body %}




   <div class="header-w bg-white" > </div>
     <div class="page-content">
   <div class="container dez-bnr-inr overlay-black-middle" style="background-image">
      <img class="dez-bnr-inr overlay-black-middle bg-500" style="background-image " >
      <div class="">
         <div class="pxp-single-candidate-hero-caption">
            <div class="pxp-container">
               <div class="pxp-single-candidate-hero-content">
                  <div class="" style="background-image">
                     <img class="pxp-single-candidate-hero-avatar " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuVsmsQZnenIKX-x181542ZNLakNQoqwjbhQ&usqp=CAU"  alt="image"  >
                  </div>
                  <div class="pxp-single-candidate-hero-name">
                     <h1>{{candidate.fname}} {{candidate.lname}}</h1>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <ul></ul>
      <div class="row">
         <ul></ul>
         <div class="col-lg-7 col-xl-8 col-xxl-9">
            <ul></ul>
            <div class=" text-justify ">
               <ul></ul>
               <div class="card-header">
               </div>
               <div class="card mb-3">
                  <div class="card-header card-title bg-300">
                     <h5 class="explore-des text-dark">À propos de title</h5>
                  </div>
                  <div class="card-body">
                     <p class="text-dark"> test about</p>
                  </div>
               </div>
               <div class="card mb-3">
                  <div class="card-header card-title bg-300">
                     <h5 class="explore-des text-dark">Certificats</h5>
                  </div>
                  <div class="card-body">
                     <div class="resume-list-wrapper">
                        <div class="resume-list-item">
                           <div class="row">
                              <div class="text-justify pxp-single-candidate-timeline">
                                 <div class="pxp-single-candidate-timeline-item">
                                    <div class="pxp-single-candidate-timeline-dot" ></div>
                                    <div class="pxp-single-candidate-timeline-info ms-3">
                                       <div class="pxp-single-candidate-timeline-time text-dark">
                                          <span class="bg-200">12/12/12</span>
                                          <div class="pxp-single-candidate-timeline-position mt-2"><a href="employee/view-attachment.php?id=" class="fs-0 mb-0 text-primary">title</a></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-sm-12 col-md-2">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="card mb-3">
                  <div class="card-header card-title bg-300">
                     <h5 class="explore-des text-dark">Expérience professionnelle</h5>
                  </div>
                  <div class="card-body">
                     <div class="resume-list-wrapper">
                        <div class="resume-list-item">
                           <div class="row">
                              <div class="pxp-single-candidate-timeline">
                                 <div class="pxp-single-candidate-timeline-item">
                                    <div class="pxp-single-candidate-timeline-dot" ></div>
                                    <div class="pxp-single-candidate-timeline-info ms-3">
                                       <div class=" pxp-single-candidate-timeline-time text-dark"><span class="bg-200">12/12/12 12/12/12</span></div>
                                       </br>
                                       <div class="">
                                          <h6 class="fs-0 mb-0 text-primary">title</h6>
                                       </div>
                                       <div class=" pxp-text-light">
                                          <h6 class="fs-0 mb-0">tecos</h6>
                                       </div>
                                       <p class="text-dark pb-4">description</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-sm-12 col-md-2">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="card mb-3">
                  <div class="card-header card-title bg-300">
                     <h5 class="explore-des text-dark">Formation</h5>
                  </div>
                  <div class="card-body">
                     <div class="resume-list-wrapper">
                        <div class="resume-list-item">
                           <div class="row">
                              <div class="pxp-single-candidate-timeline">
                                 <div class="pxp-single-candidate-timeline-item">
                                    <div class="pxp-single-candidate-timeline-dot" ></div>
                                    <div class="pxp-single-candidate-timeline-info ms-3">
                                       <div class=" pxp-single-candidate-timeline-time text-dark"><span class="bg-200">12/12/12 12/12/12</span></div>
                                       </br>
                                       <div class=" ">
                                          <h6 class="fs-0 mb-0 text-primary">title</h6>
                                       </div>
                                       <div class="pxp-text-light">
                                          <h6 class="fs-0 mb-0">isamm</h6>
                                       </div>
                                       <div class="text-dark pb-4">description</div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-sm-12 col-md-2">
                                 <div class="resume-list-btn">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="pager-wrapper">
                           <ul class="pager-list">
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class=" col-lg-5 col-xl-4 col-xxl-3 text-center ">
            <div class="sticky-sidebar">
               <div class="text-center">
                  <a class="btn btn-primary dropdown-toggle" href="#" role="button"  id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Voir cv</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                     <li><a href="employee/view-cv.php?id=<?php echo $row['id']; ?>">CV (#  )</a>
                     </li>
                  </ul>
                  <button type="submit" id="btnSubmit" name="submit" value="submit" onclick="return Validate()" class="btn btn-primary bg-success">CV Tecos</button>
               </div>
            </div>
            <ul></ul>
            <div class="card mb-3 card-body  ">
               <ul class="list-inline m-a0">
                  <li><a target="_blank" href="'.$fb.'" class="site-button  facebook circle "><i class="fab fa-facebook-f"></i></a></li>
                  <li><a target="_blank" href="'.$gl.'" class="site-button  google-plus circle "><i class="fab fa-google-plus-g"></i></a></li>
                  <li><a target="_blank" href="'.$ln.'" class="site-button  linkedin circle "><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a target="_blank" href="'.$tw.'" class="site-button  twitter circle "><i class="fab fa-twitter"></i></a></li>
               </ul>
            </div>
            <div class="card mb-3" >
               <div class="card-header card-title bg-300">
                  <h5 class="explore-des text-dark text-center">Compétences</h5>
               </div>
               <div class="card-body">
                  
                  <div class="job-time m-t15 m-b10">
                     {% for skill in candidate.skill %}
                     <span class="">
                        <h6 class="mt-1 text-primary">{{skill.title}}</h6>
                       
                     </span>
                      {% endfor %}
                  </div>
               </div>
            </div>
            <div class="card mb-3">
               <div class="resume-list-wrapper">
                  <div class="card-header card-title bg-300">
                     <h5 class="explore-des text-dark text-center">Langues</h5>
                  </div>
                  <div class="card-body">
                     <div class="resume-list-item">
                        <div class="row">
                           <div class="">
                              <a >
                                 <h5 class="explore-des-2c text-dark">english</h5>
                              </a>
                              <div class=" progress "style="height:10px">
                                 <div class="progress-bar  bg-primary"  style="width: 70%"
                                    role="progressbar"></div>
                              </div>
                           </div>
                           <ul></ul>
                           <div class="col-sm-12 col-md-2">
                              <div class="resume-list-btn">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="pager-wrapper">
                        <ul class="pager-list">
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="card mb-3 ">
               <div class="card-header card-title bg-300">
                  <h5 class="card-title text-dark text-center">Contact Med</h5>
               </div>
               <div class="card-body">
                  <div class="pxp-single-candidate-side-info-label ">Personal website</div>
                  <a class="pxp-single-candidate-side-info-data" href=" '.$pw.'">medkrimi.com</a>
                  <div class="explore-des-2c text-dark ">Adresse E-mail</div>
                  <div class="explore-des-3c text-primary">hamakrimi@gmail.com</div>
                  <div class="mt-4">
                     <div class="explore-des-2c text-dark fw-bold">Adresse</div>
                     <div class="explore-des-3c text-primary" >tunis,tunisie</div>
                  </div>
                  <div class="mt-4">
                     <div class="explore-des-2c text-dark fw-bold ">Téléphone</div>
                     <div class="explore-des-3c text-primary" >+216 50701398</div>
                  </div>
               </div>
            </div>
            <div class="card mb-3   ">
               <div class="card-body">
                  <form >
                     <div class="mb-3">
                        <div class="explore-des-2c text-dark fw-bold">Nom</div>
                        <input type="text" value="krimi" class="form-control text-center" id="contact-candidate-name" placeholder="Enter your name">
                     </div>
                     <div class="mb-3">
                        <div class="explore-des-2c text-dark fw-bold" class="form-label">Adressse e-mail</div>
                        <input type="text" value="$myemail " class="form-control text-center" id="contact-candidate-email" placeholder="Enter your email address">
                     </div>
                     <div class="mb-3">
                        <div class="explore-des-2c text-dark fw-bold" class="form-label ">Message</div>
                        <textarea class="form-control" id="contact-candidate-message" placeholder="Type your message here..."></textarea>
                     </div>
                     <a href="#" class="btn btn-primary rounded-pill pxp-section-cta d-block">Envoyer</a>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>


   {% endblock %}