{% extends 'layoutAdmin.html.twig' %}

{% block body %}



    <div class="row g-3 mb-3">
        <div class=" page-wraper-glass">
            <div class=" page-content">
                <div class="content-block">
                    <div class="container">
                        <div class="row">
                            <div class="job-bx job-profile  bg-white">
                                <div class="job-bx-title clearfix">
                                    <h5 class="font-weight-70d FDV0 float-start  text-primary">Dashboard</h5>
                                </div>
                                <div class="row g-3 mb-3 text-center">
                                    <div class="col-sm-6 col-md-4 ">
                                        <div class="card overflow-hidden" style="min-width: 12rem">
                                            <div class="bg-holder bg-card" style="background-image:url(../assets/img/icons/spot-illustrations/corner-1.png);"></div>
                                            <!--/.bg-holder-->
                                            <div class="card-body position-relative">
                                                <a href="?a=Candidates">
                                                    <h6 class="tecos-h" >Candidats<span class="badge badge-soft-warning rounded-pill ms-2"></span></h6>
                                                </a>
                                                <div class="display-4 fs-4 mb-2 fw-normal font-sans-serif text-warning" data-countup="{&quot;endValue&quot;:0,&quot;decimalPlaces&quot;:0,&quot;suffix&quot;:&quot;&quot;}">0</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <div class="card overflow-hidden" style="min-width: 12rem">
                                            <div class="bg-holder bg-card" style="background-image:url(../assets/img/icons/spot-illustrations/corner-2.png);"></div>
                                            <!--/.bg-holder-->
                                            <div class="card-body position-relative">
                                                <a href="?a=Applicants">
                                                    <h6 class="tecos-h">Postulants<span class="badge badge-soft-info rounded-pill ms-2"></span></h6>
                                                </a>
                                                <div class="display-4 fs-4 mb-2 fw-normal font-sans-serif text-info" data-countup="{&quot;endValue&quot;:165,&quot;decimalPlaces&quot;:0,&quot;suffix&quot;:&quot;&quot;}">165</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card overflow-hidden" style="min-width: 12rem">
                                            <div class="bg-holder bg-card" style="background-image:url(../assets/img/icons/spot-illustrations/corner-3.png);"></div>
                                            <!--/.bg-holder-->
                                            <div class="card-body position-relative">
                                                <a href="?a=RH">
                                                    <h6 class="tecos-h">Équipe RH<span class="badge badge-soft-success rounded-pill ms-2"></span></h6>
                                                </a>
                                                <div class="display-4 fs-4 mb-2 fw-normal font-sans-serif"  data-countup="{&quot;endValue&quot;:1,&quot;decimalPlaces&quot;:0,&quot;suffix&quot;:&quot;&quot;}">1</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-0">
                                    <div class="col-lg-8 col-xl-8 col-xxl-8 mb-3 pe-lg-2 mb-3">
                                        <div class="card h-lg-100 overflow-hidden">
                                            <div class="card-body p-0">
                                                <div class="table-responsive scrollbar">
                                                    <table class="table table-dashboard mb-0 table-borderless fs--1 border-200">
                                                        <thead class="bg-300">
                                                        <tr class="text-900">
                                                            <th class="tecos-h text-dark">Notifications</th>
                                                            <th class="text-end">
                                                                <div class="col-auto"><a class="btn btn-sm btn-falcon-default" href="?a=Notifications">Voir Plus</a></div>
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <table class="table table-dashboard mb-0 table-borderless fs--1 border-200">
                                                            <thead class="bg-light">
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-xl-4 col-xxl-4 mb-3 ps-lg-2">
                                        <div class="card mb-3   ">
                                            <div class="">
                                                <div class="card overflow-hidden" style="min-width: 12rem">
                                                    <div class="bg-holder bg-card" style="background-image:url(../assets/img/icons/spot-illustrations/corner-3.png);"></div>
                                                    <!--/.bg-holder-->
                                                    <div class="card-body position-relative">
                                                        <a href="?a=Jobs">
                                                            <h6 class="tecos-h text-center">Totale Offres<span class="badge badge-soft-success rounded-pill ms-2"></span></h6>
                                                        </a>
                                                        <div class="display-4 fs-4 mb-2 fw-normal font-sans-serif text-center"  data-countup="{&quot;endValue&quot;:14,&quot;decimalPlaces&quot;:0,&quot;suffix&quot;:&quot;&quot;}">14</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-3   ">
                                            <div class="text-center">
                                                <div class="card overflow-hidden" style="min-width: 12rem">
                                                    <div class="bg-holder bg-card" style="background-image:url(../assets/img/icons/spot-illustrations/corner-3.png);"></div>
                                                    <!--/.bg-holder-->
                                                    <div class="card-body position-relative">
                                                        <h6 class="tecos-h">Compétances <span class="badge badge-soft-success rounded-pill ms-2"></span></h6>
                                                        <div class="display-4 fs-4 mb-2 fw-normal font-sans-serif"  data-countup="{&quot;endValue&quot;:6,&quot;decimalPlaces&quot;:0,&quot;suffix&quot;:&quot;&quot;}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-3   ">
                                            <div class="text-center">
                                                <div class="card overflow-hidden" style="min-width: 12rem">
                                                    <div class="bg-holder bg-card" style="background-image:url(../assets/img/icons/spot-illustrations/corner-3.png);"></div>
                                                    <!--/.bg-holder-->
                                                    <div class="card-body position-relative">
                                                        <h6 class="tecos-h">Titres<span class="badge badge-soft-success rounded-pill ms-2"></span></h6>
                                                        <div class="display-4 fs-4 mb-2 fw-normal font-sans-serif"  data-countup="{&quot;endValue&quot;:22,&quot;decimalPlaces&quot;:0,&quot;suffix&quot;:&quot;&quot;}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- JAVASCRIPT FILES ========================================= -->
        <script>
            function validateSize(input) {
                const fileSize = input.files[0].size / 1024 / 1024; // in MiB
                if (fileSize > 1) {
                    alert('file size must be less than 1 mb');
                    // $(file).val(''); //for clearing with Jquery
                } else {
                    // Proceed further
                }
            }
        </script>
    </div>






{% endblock %}