{% extends 'layout.html.twig' %}

{% block title %} Ajouter un article {% endblock %}

{% block body %}

<h1>AJouter un article </h1>

    {{ form_start(form) }}

   <div class="form-group">
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
</div>


    <button class="btn btn-primary">
        Ajouter
    </button>
    {{ form_end(form) }}
{% endblock %}